.services__title--main {
    display: block;
    font-weight: 700;
    padding-top: 18px;
    font-family:  $main-font-stack;
    font-size: $secondary-title-size;
    @extend %txt-center;
    color: $basic-text-color;
}

.services__title {
    margin-bottom: 50px;
    font-family: $title-font-stack;
    font-size: $base-title-size;
    @extend %txt-center;
    color: $basic-text-color;
}

.services__title::first-letter {
    text-transform: uppercase;
}

.services__title::after {
    content: "";
    display: inline-block;
    width: 60px;
    height: 3px;
    background: $main-color-pink;
}