
    $main-color-pink:  #f38181;
    $main-color-blue: #95e1d3;
    $main-color-yellow: #fce38a;

    $main-font-stack: 'Montserrat';
    $secondary-font-stack:"Roboto";
    $title-font-stack: "Kaushan Script";

    $primary-text-color: #ffffff;
    $basic-text-color: #333333;
    $secondary-text-color: #999999;


    $base-title-size: 24px;
    $secondary-title-size: 30px;
    
